*
!.config
!.config/i3
!.config/i3/*
!.config/polybar
!.config/polybar/*
!.config/rofi
!.config/rofi/*
!.config/gtk-3.0
!.config/gtk-3.0/*
!.config/slim
!.config/slim/*
!.config/slim/slim.conf
!.config/slim/themes
!.config/slim/themes/*
!.config/slim/themes/slim-hud
!.config/slim/themes/slim-hud/*
!.Xresources
!.Xdefaults
!.vimrc
!.bashrc
!.xinitrc
!.Xmodmap
!.profile
!.spacemacs
!.tmux.conf
!.gitignore
!Makefile
